<!-- app.component.html -->
<div class="container-fluid">
  <!-- Barra de navegación -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Test Laravel Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/students">Estudiantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Administración</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Área de contenido principal donde se mostrarán los componentes basados en la ruta -->
  <main class="py-4">
    <router-outlet></router-outlet>
  </main>

  <!-- Pie de página -->
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Lugar para tu pie de página.</span>
    </div>
  </footer>
</div>
