<div class="container">
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()" class="mt-4">
        <div class="form-group">
            <label for="nombre">Nombre del Curso:</label>
            <input type="text" id="nombre" formControlName="nombre" required class="form-control">
        </div>
        <div class="form-group">
            <label for="horario">Horario:</label>
            <input type="text" id="horario" formControlName="horario" class="form-control">
        </div>
        <div class="form-group">
            <label for="fecha_inicio">Fecha de Inicio:</label>
            <input type="date" id="fecha_inicio" formControlName="fecha_inicio" class="form-control">
        </div>
        <div class="form-group">
            <label for="fecha_fin">Fecha de Fin:</label>
            <input type="date" id="fecha_fin" formControlName="fecha_fin" class="form-control">
        </div>
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <select id="tipo" formControlName="tipo" class="form-control">
                <option value="Presencial">Presencial</option>
                <option value="Virtual">Virtual</option>
            </select>
        </div>
        <div class="justify-content-end d-flex">
            <button type="submit" class="btn btn-primary float-end mx-2">Crear Curso</button>
        </div>
    </form>
</div>