<div>
    <h1>{{ getWelcomeMessage() }}</h1>
</div>

<div class="container">
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Courses</h5>
            <p class="card-text">{{ totalCourses }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Students</h5>
            <p class="card-text">{{ totalStudents }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cursos con mas estudiantes</h5>
            <ul>
                <li *ngFor="let course of topCourses">{{ course.name }}: {{ course.studentCount }}</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>